<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myrefrigerator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="냉장고를 부탁해"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TodoActivity"></activity>
        <activity
            android:name=".ChangeCount"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FoodClicked"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SelectIcon"
            android:parentActivityName=".AddFoodActivity" />
        <activity
            android:name=".AddFoodActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>